<ion-header>
  <ion-toolbar>
    <ion-title>
      File Downloader
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <label class="url-label">Url Address:</label>
    <textarea
    type="url"
    value="{{fileUrl}}"
    class="url-address"
    rows="4"
    [(ngModel)]="fileUrl"
    ></textarea>
    <ion-button expand="block" (click)="getFileInfo(true)">Download File Info</ion-button>
    <p class="file-info"><span>File Size:</span> {{fileSize? (fileSize * 0.000001).toFixed(2) + ' Mb' : ''}}</p>
    <p class="file-info"><span>File Type:</span> {{fileType}}</p>
    <ion-button expand="block" (click)="downloadFile()">Download File</ion-button>
    <p class="file-info" *ngIf="bytesDownloaded"><span>Downloaded:</span> {{(bytesDownloaded * 0.000001).toFixed(2) + '/' + (fileSize * 0.000001).toFixed(2) + ' Mb' }}</p>
    <ion-progress-bar
    color="primary"
    [value]="progress"
    *ngIf="progress"
    ></ion-progress-bar>
  </div>
</ion-content>
